<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Disease Prediction</h1>

    <label>Fill out this values where True = 1, and False = 0. This means if you have any symptom mentioned put in the value 1, but if u dont have the symptom put in the value 0.</label>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="itching" placeholder="itching" required="required" />
        <input type="text" name="skin_rash" placeholder="skin_rash" required="required" />
		<input type="text" name="nodal_skin_eruptions" placeholder="nodal_skin_eruptions" required="required" />
		<input type="text" name="continuous_sneezing" placeholder="continuous_sneezing" required="required" />
    	<input type="text" name="shivering" placeholder="shivering" required="required" />
        <input type="text" name="chills" placeholder="chills" required="required" />
		<input type="text" name="joint_pain" placeholder="joint_pain" required="required" />
		<input type="text" name="stomach_pain" placeholder="stomach_pain" required="required" />
    	<input type="text" name="acidity" placeholder="acidity" required="required" />
        <input type="text" name="ulcers_on_tongue" placeholder="ulcers_on_tongue" required="required" />
		<input type="text" name="muscle_wasting" placeholder="muscle_wasting" required="required" />
		<input type="text" name="vomiting" placeholder="vomiting" required="required" />
    	<input type="text" name="burning_micturition" placeholder="burning_micturition" required="required" />
        <input type="text" name="spotting_urination" placeholder="spotting_urination" required="required" />
		<input type="text" name="fatigue" placeholder="fatigue" required="required" />
		<input type="text" name="weight_gain" placeholder="weight_gain" required="required" />
    	<input type="text" name="anxiety" placeholder="anxiety" required="required" />
        <input type="text" name="cold_hands_and_feets" placeholder="cold_hands_and_feets" required="required" />
		<input type="text" name="mood_swings" placeholder="mood_swings" required="required" />
		<input type="text" name="weight_loss" placeholder="weight_loss" required="required" />
    	<input type="text" name="restlessness" placeholder="restlessness" required="required" />
        <input type="text" name="lethargy" placeholder="lethargy" required="required" />
		<input type="text" name="patches_in_throat" placeholder="patches_in_throat" required="required" />
		<input type="text" name="irregular_sugar_level" placeholder="irregular_sugar_level" required="required" />
    	<input type="text" name="cough" placeholder="cough" required="required" />
        <input type="text" name="high_fever" placeholder="high_fever" required="required" />
		<input type="text" name="sunken_eyes" placeholder="sunken_eyes" required="required" />
		<input type="text" name="breathlessness" placeholder="breathlessness" required="required" />
    	<input type="text" name="sweating" placeholder="sweating" required="required" />
        <input type="text" name="dehydration" placeholder="dehydration" required="required" />
		<input type="text" name="indigestion" placeholder="indigestion" required="required" />
		<input type="text" name="headache" placeholder="headache" required="required" />
    	<input type="text" name="yellowish_skin" placeholder="yellowish_skin" required="required" />
        <input type="text" name="dark_urine" placeholder="dark_urine" required="required" />
		<input type="text" name="nausea" placeholder="nausea" required="required" />
		<input type="text" name="loss_of_appetite" placeholder="loss_of_appetite" required="required" />
    	<input type="text" name="pain_behind_the_eyes" placeholder="pain_behind_the_eyes" required="required" />
        <input type="text" name="back_pain" placeholder="back_pain" required="required" />
		<input type="text" name="constipation" placeholder="constipation" required="required" />
		<input type="text" name="abdominal_pain" placeholder="abdominal_pain" required="required" />
    	<input type="text" name="diarrhoea" placeholder="diarrhoea" required="required" />
        <input type="text" name="mild_fever" placeholder="mild_fever" required="required" />
		<input type="text" name="yellow_urine" placeholder="yellow_urine" required="required" />
		<input type="text" name="yellowing_of_eyes" placeholder="yellowing_of_eyes" required="required" />
    	<input type="text" name="acute_liver_failure" placeholder="acute_liver_failure" required="required" />
        <input type="text" name="fluid_overload" placeholder="fluid_overload" required="required" />
		<input type="text" name="swelling_of_stomach" placeholder="swelling_of_stomach" required="required" />
		<input type="text" name="swelled_lymph_nodes" placeholder="swelled_lymph_nodes" required="required" />
    	<input type="text" name="malaise" placeholder="malaise" required="required" />
        <input type="text" name="blurred_and_distorted_vision" placeholder="blurred_and_distorted_vision" required="required" />
		<input type="text" name="phlegm" placeholder="phlegm" required="required" />
		<input type="text" name="throat_irritation" placeholder="throat_irritation" required="required" />
    	<input type="text" name="redness_of_eyes" placeholder="redness_of_eyes" required="required" />
        <input type="text" name="sinus_pressure" placeholder="sinus_pressure" required="required" />
		<input type="text" name="runny_nose" placeholder="runny_nose" required="required" />
		<input type="text" name="congestion" placeholder="congestion" required="required" />
    	<input type="text" name="chest_pain" placeholder="chest_pain" required="required" />
        <input type="text" name="weakness_in_limbs" placeholder="weakness_in_limbs" required="required" />
		<input type="text" name="fast_heart_rate" placeholder="fast_heart_rate" required="required" />
		<input type="text" name="pain_during_bowel_movements" placeholder="pain_during_bowel_movements" required="required" />
    	<input type="text" name="pain_in_anal_region" placeholder="pain_in_anal_region" required="required" />
        <input type="text" name="bloody_stool" placeholder="bloody_stool" required="required" />
		<input type="text" name="irritation_in_anus" placeholder="irritation_in_anus" required="required" />
		<input type="text" name="neck_pain" placeholder="neck_pain" required="required" />
    	<input type="text" name="dizziness" placeholder="dizziness" required="required" />
        <input type="text" name="cramps" placeholder="cramps" required="required" />
		<input type="text" name="bruising" placeholder="bruising" required="required" />
		<input type="text" name="obesity" placeholder="obesity" required="required" />
    	<input type="text" name="swollen_legs" placeholder="swollen_legs" required="required" />
        <input type="text" name="swollen_blood_vessels" placeholder="swollen_blood_vessels" required="required" />
		<input type="text" name="puffy_face_and_eyes" placeholder="puffy_face_and_eyes" required="required" />
		<input type="text" name="enlarged_thyroid" placeholder="enlarged_thyroid" required="required" />
    	<input type="text" name="brittle_nails" placeholder="brittle_nails" required="required" />
        <input type="text" name="swollen_extremeties" placeholder="swollen_extremeties" required="required" />
		<input type="text" name="excessive_hunger" placeholder="excessive_hunger" required="required" />
		<input type="text" name="extra_marital_contacts" placeholder="extra_marital_contacts" required="required" />
    	<input type="text" name="drying_and_tingling_lips" placeholder="drying_and_tingling_lips" required="required" />
        <input type="text" name="slurred_speech" placeholder="slurred_speech" required="required" />
		<input type="text" name="knee_pain" placeholder="knee_pain" required="required" />
		<input type="text" name="hip_joint_pain" placeholder="hip_joint_pain" required="required" />
    	<input type="text" name="muscle_weakness" placeholder="muscle_weakness" required="required" />
        <input type="text" name="stiff_neck" placeholder="stiff_neck" required="required" />
		<input type="text" name="swelling_joints" placeholder="swelling_joints" required="required" />
		<input type="text" name="movement_stiffness" placeholder="movement_stiffness" required="required" />
    	<input type="text" name="spinning_movements" placeholder="spinning_movements" required="required" />
        <input type="text" name="loss_of_balance" placeholder="loss_of_balance" required="required" />
		<input type="text" name="unsteadiness" placeholder="unsteadiness" required="required" />
		<input type="text" name="weakness_of_one_body_side" placeholder="weakness_of_one_body_side" required="required" />
    	<input type="text" name="loss_of_smell" placeholder="loss_of_smell" required="required" />
        <input type="text" name="bladder_discomfort" placeholder="bladder_discomfort" required="required" />
		<input type="text" name="foul_smell_of_urine" placeholder="foul_smell_of_urine" required="required" />
		<input type="text" name="continuous_feel_of_urine" placeholder="continuous_feel_of_urine" required="required" />
    	<input type="text" name="passage_of_gases" placeholder="passage_of_gases" required="required" />
        <input type="text" name="internal_itching" placeholder="internal_itching" required="required" />
		<input type="text" name="toxic_look_(typhos)" placeholder="toxic_look_(typhos)" required="required" />
		<input type="text" name="depression" placeholder="depression" required="required" />
    	<input type="text" name="irritability" placeholder="irritability" required="required" />
        <input type="text" name="muscle_pain" placeholder="muscle_pain" required="required" />
		<input type="text" name="altered_sensorium" placeholder="altered_sensorium" required="required" />
		<input type="text" name="red_spots_over_body" placeholder="red_spots_over_body" required="required" />
    	<input type="text" name="belly_pain" placeholder="belly_pain" required="required" />
        <input type="text" name="abnormal_menstruation" placeholder="abnormal_menstruation" required="required" />
		<input type="text" name="dischromic _patches" placeholder="dischromic _patches" required="required" />
		<input type="text" name="watering_from_eyes" placeholder="watering_from_eyes" required="required" />
    	<input type="text" name="increased_appetite" placeholder="increased_appetite" required="required" />
        <input type="text" name="polyuria" placeholder="polyuria" required="required" />
		<input type="text" name="family_history" placeholder="family_history" required="required" />
		<input type="text" name="mucoid_sputum" placeholder="mucoid_sputum" required="required" />
    	<input type="text" name="rusty_sputum" placeholder="rusty_sputum" required="required" />
        <input type="text" name="lack_of_concentration" placeholder="lack_of_concentration" required="required" />
		<input type="text" name="visual_disturbances" placeholder="visual_disturbances" required="required" />
		<input type="text" name="receiving_blood_transfusion" placeholder="receiving_blood_transfusion" required="required" />
    	<input type="text" name="receiving_unsterile_injections" placeholder="receiving_unsterile_injections" required="required" />
        <input type="text" name="coma" placeholder="coma" required="required" />
		<input type="text" name="stomach_bleeding" placeholder="stomach_bleeding" required="required" />
		<input type="text" name="distention_of_abdomen" placeholder="distention_of_abdomen" required="required" />
    	<input type="text" name="history_of_alcohol_consumption" placeholder="history_of_alcohol_consumption" required="required" />
        <input type="text" name="fluid_overload.1" placeholder="fluid_overload.1" required="required" />
		<input type="text" name="blood_in_sputum" placeholder="blood_in_sputum" required="required" />
		<input type="text" name="prominent_veins_on_calf" placeholder="prominent_veins_on_calf" required="required" />
    	<input type="text" name="palpitations" placeholder="palpitations" required="required" />
        <input type="text" name="painful_walking" placeholder="painful_walking" required="required" />
		<input type="text" name="pus_filled_pimples" placeholder="pus_filled_pimples" required="required" />
		<input type="text" name="blackheads" placeholder="blackheads" required="required" />
    	<input type="text" name="scurring" placeholder="scurring" required="required" />
        <input type="text" name="skin_peeling" placeholder="skin_peeling" required="required" />
		<input type="text" name="silver_like_dusting" placeholder="silver_like_dusting" required="required" />
		<input type="text" name="small_dents_in_nails" placeholder="small_dents_in_nails" required="required" />
    	<input type="text" name="inflammatory_nails" placeholder="inflammatory_nails" required="required" />
        <input type="text" name="blister" placeholder="blister" required="required" />
		<input type="text" name="red_sore_around_nose" placeholder="red_sore_around_nose" required="required" />
		<input type="text" name="yellow_crust_ooze" placeholder="yellow_crust_ooze" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>